.friendList {
  width: 500px;
  margin: auto;
  list-style: none;
  border: 3px grey solid;
  margin-bottom: 50px;
  padding: 0;
}

.person {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.online {
  display: block;
  width: 10px;
  height: 10px;
  background-color: green;
  margin: 0 10px;
}

.offline {
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  margin: 0 10px;
}

.avatar {
  width: 50px;
  margin: 0 15px;
}
